@font-face {
    font-family: 'Klavika';
    src: url('Klavika_Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klavika';
}

body{
  background-color: #111;
  
}

content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  background-color: #111;
  min-height: 95vh;
}

/* TITRE */

.titre{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5em;
}
.titre .bar-right{
  margin-left: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}

.titre .bar-left{
  margin-right: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}
.titre h1{
  font-size: 1.5em;
  text-align: center;
  color: white;
}

section{
    height: 100%;
    width: 100%;
    margin-bottom: 3em;
}
  
  
.map-container {
    text-align: center;
}
  
  
.map-container button{
    padding: 10px 20px;
    color: #fff;
    background: #333;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 1em;
}
  
.map-container p{
    color: #FFF;
  
}
  
  
.map-container button:hover{
    background: #F03C3C;
}
  
.blue{
    background: #F03C3C ;
}
  
.hide {
    display: none;
} 
  
  
  
hr{
    margin: 0;
    padding: 0;
}
  
  /* CSS for responsive iframe */
  /* ========================= */
  
  /* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Liason-Sheet {
    max-width: 1204px;
    max-height: 43.5em; 
    overflow: hidden;
    background: #222222;
    color: #222222;
}
  /* inner wrapper: make responsive */
.responsive-wrapper {
    position: relative;
    height: 0;    /* gets height from padding-bottom */
    /* following necessary for proper mobile behavior */
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    background: #222;
    color: #222;
}
   
.responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: #222222;
    color: #222222;
}
  /* padding-bottom = h/w as % -- sets aspect ratio */
  /* YouTube video aspect ratio */
  
.responsive-wrapper-wxh-650x315 {
    padding-bottom: 56.25%;
}
.responsive-wrapper-wxh-550x2000 {
    padding-bottom: 363.6364%;
}
  
  /* general styles */
  /* ============== */
.set-border {
    border: 5px inset #4f4f4f;
}
.set-box-shadow { 
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
    padding: 40px;
}
.set-margin {
    margin: 30px;
}
.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
}
  
  
.prog{
    border: 0; 
    background: #222;
}

  
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    flex-wrap: wrap;
}
  
.container .card
{
    margin: 15px;
    margin-top: 0px;
    position: relative;
    width: 25em;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em; /* HAUTEUR */
  
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}
  
  
.container .card .content{
    padding: 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    text-align: left;
}
  
  
.container .card .box{
    display: flex;
    justify-content: center;
    align-items: center;
  
    min-width: 10em;
}
  
  
.container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
  
.percent{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 1000;
}
  
svg{
    position: relative;
    width: 120px;
    height: 120px;
    z-index: 1000;
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width:8;
    stroke-linecap: round;
    transform: translate(4px,4px);
}
  
.name{
    position: relative;
    color: #FFF;
    font-size: 22px;
  
    transition: 0.2s;
}
.info{
    position: relative;
    color: #FFF;
    font-size: 18px;
  
    transition: 0.2s;
}
  
.description{
    position: relative;
    color: #FFF;
    font-size: 14px;
    font-style: italic;
  
  
    transition: 0.2s; 
}
  
.container .card .top{
    background-color: #F03C3C;
    width: 100%;
    height: 0.3em;
}
  
.container .card .bot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    background-color: #F03C3C;
    width: 100%;
    height: 2em;
}
  
.container .card .bot h3{
    color: #FFF;
    font-size: 16px;
}
  
.container .card .bot h3 .plus{
    font-size: 20px;
}
  
  
.container .card:hover .name
  {
    font-size: 25px;
}
  
.container .card:hover .info
  {
    color: #FFF;
    font-size: 20.5px;
}
  
.container .card:hover .description
{
    color: #FFF;
    font-size: 16px;
}
  
  
#programmation{
    background-color: #F03C3C;
}
  
