@font-face {
    font-family: 'Klavika';
    src: url('Klavika_Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klavika';
}

body{
  background-color: #111111;
  
}

content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  background-color: #111111;
  min-height: 95vh;
}

.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
}
.titre .bar-right{
    margin-left: 1em;
    border-radius: 1em; 
    height: 0.2em;
    width: 10%;
}
  
.titre .bar-left{
    margin-right: 1em;
    border-radius: 1em; 
    height: 0.2em;
    width: 10%;
}
.titre h1{
    font-size: 1.5em;
    text-align: center;
    color: white;
}

