@font-face {
    font-family: 'Klavika';
    src: url('Klavika_Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klavika';
}

body{
  background-color: #111;
  
}

content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  background-color: #111;
  min-height: 95vh;
}

/* TITRE */

.titre{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5em;
}
.titre .bar-right{
  margin-left: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}

.titre .bar-left{
  margin-right: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}
.titre h1{
  font-size: 1.5em;
  text-align: center;
  color: white;
}

main .container{
  margin: 25px;
}

main h2{
  color : #F03C3C;
  text-decoration: underline solid 1px;
  text-underline-position: under;
  margin-bottom: 0.5em;
}

main h3{
  color : white;
}

main h4{
  color : grey
}