{% extends 'base.html' %}
{% load static %}
    
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/partenaire/index.css' %}">
{% endblock %}

{% block content %}
  		<content>
  			<div class="titre">
				<hr class="bar-left" color=#F03C3C>
				<h1>LES PARTENAIRES</h1>
				<hr class="bar-right" color=#F03C3C>
			</div>

			<div class="container">
				{% for partenaire in partenaires %}
				<div class="card">
					<div class="box-left">
						<div class="circle" style="background-image: url({{ partenaire.pp.url }});background-size: 100%;"></div>
					</div>
					<div class="box-right">
						<div class="top">
							<h2>{{ partenaire.name }}</h2>
							<ul class="social">
								{% if partenaire.twitch %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.twitch }}"><i class="fab fa-twitch"></i></a></li>
								{% endif %}
								{% if partenaire.twitter %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.twitter }}"><i class="fab fa-twitter"></i></a></li>
								{% endif %}
								{% if partenaire.instagram %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.instagram }}"><i class="fab fa-instagram"></i></a></li>
								{% endif %}
								{% if partenaire.tiktok %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.tiktok }}"><i class="fab fa-tiktok"></i></a></li>
								{% endif %}
								{% if partenaire.youtube %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.youtube }}"><i class="fab fa-youtube"></i></a></li>
								{% endif %}
								{% if partenaire.discord %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.discord }}"><i class="fab fa-discord"></i></a></li>
								{% endif %}
								{% if partenaire.facebook %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.facebook }}"><i class="fab fa-facebook"></i></a></li>
								{% endif %}
								{% if partenaire.other %}
								<li><a class="nav-link px-2"  target="_blank" href="{{ partenaire.other }}"><i class="fa  fa-link"></i></a></li>
								{% endif %}
							</ul>
						</div>
						<div class="bottom">
							<p>{{ partenaire.description }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

  		</content>
{% endblock %}