{% extends 'base.html' %}
{% load static %}
    
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/partenaire/index.css' %}">
{% endblock %}

{% block content %}
  		<content>
  			<div class="titre">
				<hr class="bar-left" color=#F03C3C>
				<h1>LES PARTENAIRES</h1>
				<hr class="bar-right" color=#F03C3C>
			</div>

			<div class="container">
				{% for partenaire in partenaires %}
				<div class="card">
					<div class="box-right">
						<div class="circle"></div>
					</div>
					<div class="box-left">
						<div class="top">
							<h2>NOM DU PARTENAIRE</h2>
							<div class="social"></div>
						</div>
						<div class="bottom">
							<h3>Description du partenaire..</h3>
							<p>--------------------------------------------------------------------------------------------------------------------------------------------</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

  		</content>
{% endblock %}