@font-face {
    font-family: 'Klavika';
    src: url('Klavika_Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klavika';
}

body{
  background-color: #222;
}

content{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  min-height: 95vh;
}

/* TITRE */

.titre{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5em;
}
.titre .bar-right{
  margin-left: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}

.titre .bar-left{
  margin-right: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}
.titre h1{
  font-size: 1.5em;
  text-align: center;
  color: white;
}

/* CONTAINER */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CARD */

.container .card{
  margin: 2em;
  width: 65%; 
  height: 12em; 
  background: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card .box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.container .card .box .partenaires{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-right: 1em;
}

.container .card .bar-top{
  align-self: flex-start;
  width: 100%;
  height: 0.2em;
}

.container .card .bar-bot{
  align-self: flex-end;
  height: 0.2em;
  width: 100%;
}

.container .card:hover
{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.percent
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 100;
  margin: 1em;
}

svg
{
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 101;
}

svg circle
{
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width:10;
  stroke-linecap: round;
  transform: translate(5px,5px);
}


.name
{
  color: #F03C3C;
  font-size: 18px;

  transition: 0.3s;
}
.description
{
  color: #777;
  font-size: 16px;

  transition: 0.3s; 
}
.container .card:hover .name
{
  font-size: 20px;
}

.container .card:hover .description
{
  color: #FFF;
  font-size: 18px;
}

@media(max-width: 991px)
{
    .container .card
    {
      width: 100%;
    }

    .container .card .box .partenaires{
      align-items: center;
    }

    .name{
      text-align: center;
    }
    .description{
      text-align: center;
    }


}


#partenaire{
  background-color: #F03C3C;
}
