@font-face {
    font-family: 'Klavika';
    src: url('Klavika_Bold.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Klavika';
}

body{
  background-color: #111;
}

content{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  min-height: 95vh;
}

/* TITRE */

.titre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
  }
  .titre .bar-right{
    margin-left: 1em;
    border-radius: 1em; 
    height: 0.2em;
    width: 10%;
  }
  
  .titre .bar-left{
    margin-right: 1em;
    border-radius: 1em; 
    height: 0.2em;
    width: 10%;
  }
  .titre h1{
    font-size: 1.5em;
    text-align: center;
    color: white;
  }
  
  /* CONTAINER */
  
  .container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  /* CARD */
  
  .container .card{
    width: 50em;
    margin: 2em;
    background: #333333;
    border-radius: 10px;
    border: 2px #F03C3C solid;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s;
  }

  .container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
  }
  
  
  
  .container .card .box-left{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .card .box-left .circle{  
    background: #111;
    border-radius:50%;
    width:  150px;
    height: 150px;
    border:3px solid #FFFFFF; 
    margin: 1em;
  }

  .container .card .box-right{
    color: #FFFFFF;
    padding: 16px;
  }

  .container .card .box-right .nom{

  }

  .container .card .box-right .horaire{
    font-style: italic;
  }

  .container .card .box-right .tag{

  }

  .container .card .box-right .description{
    margin-top: 4px;
  }

  @media(max-width: 600px)
  {
    .container .card{
      flex-direction: column;
    }

    .container .card .box-right{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }


#emissions{
    background-color: #F03C3C;
}