{% extends 'base.html' %}
{% load static %}
    
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/programmation/index.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<content>
    <section>
        <div class="titre">
            <hr class="bar-left" color=#F03C3C>
            <h1>LA GRILLE DES PROGRAMMES</h1>
            <hr class="bar-right" color=#F03C3C>
        </div>

        <div style="text-align: center;">
            {%if not programme%}
            <h2 style="color: #fff;">Il n'y a pas de programme pour le moment</h2>
            {%else%}
            <img src="{{ programme.image.url }}" width="80%" height="80%" alt="programmation">
            {%endif%}
        </div>
    </section>
</content>



{% endblock %}