{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accueil/index.css' %}">
{% endblock %}

{% block content %}
<content>
    <div class="main">
        <div class="flex-top">
            <section class="stream">
                <header>
                    <div class="left">
                        <h1>{{ title }}</h1>
                        <h2>{{ game_name }}</h2>
                    </div>
                    {% if viewer_count != "∞" %}
                    <div class="right">

                            <h1>{{ viewer_count }}</h1>
                            <h2>Spectateurs</h2>

                    </div>
                    {% endif %}
                </header>
                <article>
                    <iframe src="https://player.twitch.tv/?channel=gostreamfr&parent=www.gostream.fr" frameborder="0" allowfullscreen="true" scrolling="no" height="100%" width="100%"></iframe>
                </article>
            </section>
            <section class="chat">
                <header>
                    <h1>TCHAT TWITCH</h1>
                </header>
                <article>
                    <iframe src="https://www.twitch.tv/embed/gostreamfr/chat?parent=www.gostream.fr" height="100%" width="100%"></iframe>
                </article>
            </section>
        </div>

        <div class="flex-bottom">
            <section class="streamers">
                {% for streamer in streamers %}
                <div class="streamer" onclick="window.location.href = '{{ streamer.twitch }}'">
                    <h3>{{ streamer.nom }}</h3>
                    {% if streamer.online %}
                        <div class="cercle" style="border-color: #F03C3C ;background-image: url(../../../media/{{ streamer.pp }});background-size: 100%;"></div>
                        <div class="direct" style="background-color: #F03C3C;"><h4>EN DIRECT</h4></div>
                    {% else %}
                        <div class="cercle" style=" background-image: url(../../../media/{{ streamer.pp }});background-size: 100%;"></div>
                        <div class="direct" style="background-color: #111111;"><h4>HORS LIGNE</h4></div>
                    {% endif %}
                </div>
                {% endfor %}
            </section>


        </div>
    </div>

</content>
{% endblock %}