@font-face {
  font-family: 'Klavika';
  src: url('Klavika_Bold.otf');
}

@font-face {
font-family: 'MadeCarving';
src: url('MadeCarving_Bold.otf');
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'MadeCarving';
}

body{
  background-color: #111;
}

content{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  background-color: #111;
  min-height: 95vh;
}

/* TITRE */

.titre{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5em;
}
.titre .bar-right{
  margin-left: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}

.titre .bar-left{
  margin-right: 1em;
  border-radius: 1em; 
  height: 0.2em;
  width: 10%;
}
.titre h1{
  font-size: 1.5em;
  text-align: center;
  color: white;
}

/* CONTAINER */

.container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* CARD */

.container .card{
  margin: 2em;
  background:  #333333;
  border-radius: 10px;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.container .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
}


.container .card .title {
  color: white;
  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  border-bottom: 2px solid #fff;
  padding: 0.2em;
}

.container .card .box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.container .card .box .circle{  
  background: #111;
  border-radius:50%;
  width:  128px;
  height: 128px;
  border:4px solid #FFFFFF; 
  margin: 1em;
}

.container .card .box .right{
  margin: 1em;
  margin-left: 0;
  width: 333px;
}

.container .card .box .right .box-skill{
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

.container .card .box .right .box-skill .skill{
  margin: 0.8em;
  margin-bottom: 0;
  margin-top: 0;
}

.container .card .box .right .box-skill .skill h3{
  font-size: 0.7em;
}

.container .card .box .right .skill h4{
  font-size: 2em;
}


.container .card .box .right .social{
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 1em;
  padding-bottom: 0;
}

.container .card .box .right .social li a{
  font-size: 1.3em;
}

@media(max-width: 536px)
{
  .container .card .box .right{
    margin: 1em;
    margin-left: 1em;
  }
}



#equipe{
  background-color: #F03C3C;
}