{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mention/index.css' %}">
{% endblock %}

{% block content %}
        <content>
			<div class="titre">
				<hr class="bar-left" color=#F03C3C>
				<h1>MENTIONS LÉGALES</h1>
				<hr class="bar-right" color=#F03C3C>
			</div>
			<main>
				<div class="container">
					<h2>Concernant l'association :</h2>
					<h3>GoStream</h3>
					<h4>ayant son siège social à l'adresse suivante : 2 Esplanade Jouandin - 64100 Bayonne</h4>
					<h4>N° Siret : 641013150</h4>
					<h4>Adresse e-mail : gostreamcontact@gmail.com</h4>
				</div>
				<div class="container">
					<h2>Concernant le site :</h2>
					<h3>Réalisation du site</h3>
					<h4>Extrayer : extrayer.pro@gmail.com</h4>
					<h4>Luckyzz : contact.luckyzzstream@gmail.com</h4>
					<h3>Directeur de publication</h3>
					<h4>Luckyzz : contact.luckyzzstream@gmail.com</h4>
					<h4>Salocin : contact.salocinstream@gmail.com</h4>
				</div>
				<div class="container">
					<h2>Hébergement du site :</h2>
					<h3>OVH</h3>
					<h4>ayant son siège social à l'adresse suivante : 2 rue Kellerma, - 59100 Roubaix</h4>
					<h4>Téléphone : 1007 ou le 09 72 10 10 07</h4>
					<h4>Adresse e-mail : cil@ovh.net</h4>
				</div>
				<div class="container">
					<h2>Hébergement  du player et du chat</h2>
					<h3>Twitch</h3>
					<h4>ayant son siège social à l'adresse suivante : 225 Bush Street, 6th Floor, San Francisco, CA 94104</h4>
					<h4>Californie - États-Unis</h4>
					<h4>Contact : https://www.twitch.tv/</h4>
				</div>
			</main>
  		</content>
{% endblock %}